# Non-project-specific build files:
build.xml
local.properties
.npmignore
package-lock.json
/gradlew
/gradlew.bat
/gradle
# Ant builds
ant-build
ant-gen
# Eclipse builds
gen
out
# Gradle builds
**/.gradle
**/.idea
**/build
**/*.iml
/build
/node_modules
